@model PaginatedListHelper<Subcategory>

@{
}

<h3 class="mt-5 mb-5 d-flex justify-content-center">Подгрупи на артикли</h3>

@*<a asp-controller="Subcategory" asp-action="Edit" class="btn btn-primary float-end mb-3">Додади Лот</a>*@

<!-- Button trigger modal -->
<a class="btn btn-primary float-end mb-3 mt-3"
   onclick="showInPopup('@Url.Action("Edit", "Subcategory", null, Context.Request.Scheme)', 'Додади лот')">Нов лот</a>

<form asp-action="Index" method="get" class="col-4">

    <div class="input-group">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Пребарај" class="btn btn-danger" />
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Група</th>
            <th>Шифра</th>
            <th>Лот</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subcategory in Model)
        {
            <tr>
                <td>
                    @subcategory.Id
                </td>
                <td>
                    @subcategory.Category.Name
                </td>
                <td>
                    @subcategory.CPVCode
                </td>
                <td>
                    @subcategory.Name
                </td>
                <td>
                    <a class="btn btn-outline-primary mr-3"
                   onclick="showInPopup('@Url.Action("Edit", "Subcategory", new {id = @subcategory.Id}, Context.Request.Scheme)',
                        'Измени лот')">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </i>
                    </a>

                    <a asp-controller="Subcategory" asp-action="Delete" asp-route-id="@subcategory.Id" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-primary @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-primary @nextDisabled">
    Next
</a>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>